function Wall.draw 2
label WHILE_EXP0
push local 1
push constant 16
lt
not
if-goto WHILE_END0
push argument 0
push local 1
push constant 1
call BlockGraphics.draw 3
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
